.flex {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexItem {
    flex: 30%;
}

@media screen and (max-width: 900px) {
    .flex {
        flex-direction: column;
        gap: 40px;
    }
}