body {
    background-repeat: repeat;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: "Mountains of Christmas", cursive;
}
li {
    font-family: "Mountains of Christmas", cursive;
}
p {
    font-family: "Mountains of Christmas", cursive;
}

@media screen and (max-width: 900px) {
    .bodyItem {
        margin-left: 10%;
        margin-right: 10%;
    }
}
