body {
	background-image: URL("../img/homepageBackground.jpg");
	background-repeat: repeat;
	background-size: cover;
}

h1, h3, p {
	font-family: "Goudy Old Style", "Courier";
}

p {
	margin-bottom: 0px;
}

#titleArea {
	margin-top: 128px;
	text-align: center;
}

#mainTitle {
	font-size: 72px;
}

#subTitle {
	font-size: 48px;
}