body {
	text-align: center;
	background-image: url("../images/home/homeBackgroundMain.jpg");
	background-repeat: repeat;
}

.jumbotron {

	background-image: url("../images/home/homeBackgroundJumbotron.gif");
}

.jumbotron h2 {
	color: white;
	font-weight: bold;
}

.jumbotron p {
	color: white;
}

.itemParagraph {
	display: none;
}

.item {
	margin: 5px;
}

#christmasTime, #christmasDate {
	display: inline;
	border: 2px solid white;
	font-weight: bold;
	background-color: red;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	height: auto;
}