.container-fluid {
	display: flex;
	justify-content: center;
}

.item, .itemInfo {
	height: auto;
	flex: 1 1 0px;
	flex-direction: column;
	border: 2px solid #000000;
	background-size: cover;
	background-repeat: repeat;
	margin-bottom: 50px;
	background-color: #CCCCCC;
}

.itemTitle {
	background-color: #AAAAAA;
	font-weight: bold;
}

.itemParagraph {
	margin: 15px;
}

.itemInfo {
	transition: opacity 0.5s;
	opacity: 0;
	background-color: #AAAAAA;
	border-right: none;
	border-left: none;
}

.moreInfoButton, .linkButton {
	transition: width 0.2s;
	margin: 15px;
	width: 150px;
}

.moreInfoButton {
	float: right;
}

.linkButton {
	float: left;
}

.lEnd {
	border-left: 2px solid #000000;
}

.rEnd {
	border-right: 2px solid #000000;
}