body {
	text-align: center;
	background-image: url("../images/misc/miscBackgroundMain.jpg");
	background-repeat: repeat;
}

.jumbotron {
	background-color: #000000;
	background-image: url("../images/misc/miscBackgroundJumbotron.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.jumbotron h2 {
	color: white;
	font-weight: bold;
}

.jumbotron p {
	color: white;
}