body {
	margin: 0;
}

/* NAVBAR */

#navbar {
  	list-style-type: none;
  	margin-top: 0;
  	margin-left: 0;
  	margin-right: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
  	position: fixed;
  	top: 0;
  	width: 100%;
	margin-bottom: 0;
}

.navbarItem {
	float: left;
}

.navbarBtn {
	float: right;
	border-left: 1px solid #bbb;
	display: none;
}

.navbarBtn a, .navbarItem a, #navbarDropDownButton a {
 	display: block;
 	color: white;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
 	font-family: "Goudy Old Style", "Courier";
}

#navbarDropDownButton {
	float: right;
	border-left: 1px solid #bbb;
}

.navbarBtn a:hover {
	background-color: #111;
}

#navbarBtnActive a {
  background-color: #04AA6D;
}

/* NAVBAR MOBILE */

#navbarMobile {
	list-style-type: none;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	background-color: #333;
	position: absolute;
	top: 48px;
	width: 100%;
	white-space: nowrap;
}

.navbarBtnM {
	width: 100%;
}

#navbarMobile a {
	display: block;
	width: 100%;
}

.navbarBtnM {
	display: inline-block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Goudy Old Style", "Courier";
}

.navbarBtnM:hover {
	background-color: #111;
}

#navbarBtnMActive {
  background-color: #04AA6D;
}

.navbarMobileShow {
	display: block;
}
.navbarMobileHide {
	display: none;
}

/* MISC. */

#timeUntilTimer {
	margin-left: 16px;
}

@media only screen and (min-width: 805px) {
    #navbarDropDownButton {
		display: none;
	}
	.navbarBtn {
		display: block;
	}
	#navbarMobile, .navbarMobileShow {
		display: none;
	}
}