#navbar {
    background-color: lightgray;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;

    display: flex;
    flex-direction: row;
}
#navbarLeft {
    flex: 25%;
    display: flex;
}
#navbarLeft > a {
    display: flex;
}
#navbarRight {
    flex: 75%;
    display: flex;
    justify-content: right;
    height: auto;
}
#navLogo {
    display: flex;
    list-style: none;
    text-align: left;
    flex: 100%;
}
#navLogo > li {
    flex: 1;
    align-self: center;
    margin-left: 25px;
    font-weight: bold;
}
.navButton {
    flex: 15%;
    flex-grow: 0;
    text-align: center;
    list-style: none;
    display: flex;
    background-color: darkgray;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.navButton > li {
    flex: 1;
    align-self: center;
    font-weight: bold;
    color: white;
}
@media screen and (max-width: 900px) {
    #navbarLeft {
        display: none;
    }
    #navbarRight {
        flex: 100%;
    }
    .navButton {
        flex: 1;
        flex-grow: 1;
    }
}
#chosenNav {
    background-color: green;
}