body, h1 {
  font-family: Brush Script MT, sans-serif;
}

body, html {
  height: 100%
}

body {
  background-image: url('bgrImg.gif');
  background-repeat: repeat;
}

#mainTitle {
  font-family: Lucida Handwriting, sans-serif;
  font-size: 50px;
  color: #BBBBBB;
}

#subText, #subText2 {
  font-family: Lucida Handwriting, sans-serif;
  font-size: 25px;
  color: #BBBBBB;
}

#credit {
  color: #BBBBBB;
}

#dots {
  white-space: pre;
}