#background { background-image: linear-gradient(0deg, #ffe0f263, #ffe0f263), URL("../img/backgroundBooks.jpg"); }
#navbar { background-image: linear-gradient(to right, #8f8f8f, white, #8f8f8f); }
#subtitleArea { background-color: #77777777; font-size: 24px; }