body { margin: 0; }
html { height: 100%;}

/* Mountains of Christmas (Tart Workshop): https://www.1001fonts.com/mountains-of-christmas-font.html */
@font-face {
    font-family: ChristmasFont;
    src: URL("../fonts/mountains-of-christmas.regular.ttf");
}
@font-face {
    font-family: ChristmasFont;
    src: URL("../fonts/mountains-of-christmas.bold.ttf");
    font-weight: bold;
}