body {
    background: linear-gradient(0deg, #ffe0f24d, #ffe0f24d), URL("../img/backgroundHome.jpg");
}

#navbar { background-image: linear-gradient(to right, #00FF00, white, #FF0000); }

#timerArea {
    width: 50%;
    display: flex;
    background-color: #77777777;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.timerBox {
    border: 1px solid black;
    width: 96px;
    text-align: center;
    height: 128px;
    float: left;
    display: flex;
    flex-direction: column;
}

.timerText {
    color: black;
    text-align: center;
    font-size: 24px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, #ff6262, white, #00FF00);
    font-weight: bold;
}

.timerTextLabel {
    background-color: #ff4b4b;
    color: black;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    font-weight: bold;
}

#verArea {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: black;
}

@media only screen and (max-width: 600px) {
    #timerArea { width: 100%; padding: 0; }
    .timerBox { width: 20%; }
}