#navbar {
    position: fixed;
    height: 64px;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

#navbarTitle {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
    font-family: ChristmasFont;
    font-size: 28px;
    float: right;
    z-index: 2;
    font-weight: bold;
}

#navbarMenuButton {
    height: 100%;
    position: absolute;
    align-content: center;
    text-align: center;
    font-family: ChristmasFont;
    font-size: 28px;
    float: left;
    margin-left: 24px;
    z-index: 3;
    rotate: 0deg;
    transition: 0.5s;
}

#navbarMenuButton.menu-active { rotate: 90deg; }

#navbarMenuButton a {
    text-decoration: none;
    color: black;
}

#menu {
    background-color: #BBBBBBDD;
    position: fixed;
    width: 0%;
    height: 100%;
    overflow-x: hidden;
    left: 0;
    top: 64px;
    transition: 0.5s;
    z-index: 4;
}

#menu ul {
    list-style: none;
    padding: 0px;
    z-index: 5;
}

.menuItem {
    text-align: center;
    font-family: ChristmasFont;
    font-size: 28px;
    margin-top: 28px;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    z-index: 6;
    font-weight: bold;
}

.menuItem a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    z-index: 7;
}

#menuClothesItem { background-image: linear-gradient(to right, #22FF22 60%, #BBBBBB); }
#menuFoodItem { background-image: linear-gradient(to right,  #FF8800 60%, #BBBBBB); }
#menuGamesItem { background-image: linear-gradient(to right, #2222FF 60%,  #BBBBBB); }
#menuMiscItem { background-image: linear-gradient(to right,  #AA00AA 60%, #BBBBBB); }
#menuHomeItem { background-image: linear-gradient(to right,  #FF2222 60%, #BBBBBB); }
#menuBooksItem { background-image: linear-gradient(to right,  #6e6e6e 60%, #BBBBBB); }

.menuItem a:hover { color: white; }
#menu.menu-active { width: 100%; }