body {
    margin: 0;
}

html {
    height: 100%;
}

/* Santa's Big Secret (Blambot Comic Fonts): https://www.1001fonts.com/santas-big-secret-bb-font.html */
@font-face {
    font-family: ChristmasFont;
    src: URL("../fonts/santasBigSecret.ttf");
}