.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.left {
    justify-content: left;
}

.centre {
    justify-content: center;
}

.right {
    justify-content: right;
}

.flex-item {
    display: flex;
    flex: 1;
}

.shrink-to-fit {
    flex: 0;
}

.debug {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.25);
}