#background { background-image: linear-gradient(0deg, #ffe0f263, #ffe0f263), URL("../img/backgroundGames.jpg"); }
#navbar { background-image: linear-gradient(to right, rgb(0,0,255), white, rgb(0,0,255)); }
#titleArea { color: white; }
#subtitleArea { background-color: #77777777; font-size: 24px; color: white; }