body {
    margin-top: 64px;
    background:linear-gradient(0deg, #ffe0f211, #ffe0f211), URL("../img/backgroundGames.jpg");
    background-repeat: repeat;
}

#navbar { background-image: linear-gradient(to right, rgb(0,0,255), white, rgb(0,0,255)); }


#titleArea {
    color: white;
}
#subtitleArea { background-color: #77777777; font-size: 24px; color: white; }