body {
    background-image: url("../img/backgroundHome.jpg");
    margin: 0px;
}

#titleArea {
    background-color: rgba(200, 200, 200, 0.75);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 125px;
}

#mainArea {
    width: 100%;
}

#itemArea {
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    display: grid;
}

#title {
    text-align: center;
    font-size: 32px;
}

#subTitle {
    text-align: center;
    font-size: 24px;
}

.itemImage {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
}

.item {
    background-color: white;
    margin: 20px;
    padding: 0px;
    border: 1px solid black;
}

.itemImageContainer {
    width: 100%;
}

.itemLink {
    text-decoration: none;
}

.itemHeading {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    color: rgb(0,0,0);
}

.itemLink {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 900px) {
    #itemArea {
        grid-template-columns: 100%;
    }
    .item {
        margin-left: 15%;
        margin-right: 15%;
    }
    #mainArea {
        margin-top: 25px;
    }
}