/*
 * main.css
 * 18/03/2025
 *
 * All HTML pages will run this CSS file third. Handles the basic setup common across the pages.
 */

 #mainBody {
   margin-top: 48px;
 }

 #topPage {
    height: 400px;
    background-color: white;
    position: relative;
 }

 #topPageImg {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    background-position: center;
 }

 #title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Arial, Tahoma, Serif;
    font-size: 32px;
    background-color: #000000AA;
    color: white;
    padding: 8px 32px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
   #title{
      width: 50%;
   }
}