.flex-2 {
    display: flex;
    flex: 50% 50%;
}

.flex-3 {
    display: flex;
    flex: 33% 33% 33%;
}

.flex-4 {
    display: flex;
    flex: 25% 25% 25% 25%;
}

.flex-col {
    flex-direction: column;
}

.flex-item {
    display: flex;
    flex: 33%;
}

.debug {
    border: 1px solid red;
}