/*
 * navbar.css
 * Ver: 24.04.19
 * Contains the main css formatting for navbars. All HTML pages load this css file second.
 */

.nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    padding: 0;
    list-style-type: none;
}

.nav-logo {
    order: 0;
    margin-left: 16px;
    padding: 8px 8px 8px 8px;
}

.nav-toggle {
    order: 1;
    margin-right: 16px;
    padding: 8px 8px 8px 8px;
}

.nav-item {
    text-align: center;
    display: none;
    width: 100%;
    order: 3;
    background-color: #555;
    padding: 15px 5px;
    border-bottom: 1px solid #666;
}

.nav-link {
    text-decoration: none;
    color: white;
    min-height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.nav-menu .nav-item .nav-link {
    display: block;
}


.active .nav-item {
    display: block;
}

@media all and (min-width: 960px) {
    .nav-menu {
        flex-wrap: nowrap;
        display: flex;
    }

    .nav-logo {
        order: 0;
        flex: 5;
    }

    .nav-item {
        order: 1;
        position: relative;
        display: flex; 
        width: auto;
        justify-content: center;
        padding: 0px;
        border-bottom: none;
        flex: 1;
        align-self: stretch;
        background-color: #444;
    }

    .nav-link-cont {
        display: flex;
        flex: 1;
        align-self: center;
        justify-content: center;
    }

    .nav-button {
        order: 2;
    }

    .nav-toggle {
        display: none;
    }

    .active .nav-item {
        display: flex;
    }
}

.highlight-g, .nav-active-choice-g { background-color: rgb(0, 130, 0); }
.highlight-o, .nav-active-choice-o { background-color: rgb(255,128,0); }
.highlight-b, .nav-active-choice-b { background-color: rgb(64,64,255); }
.highlight-p, .nav-active-choice-p { background-color: rgb(128, 32, 255); }